# TOBACCO COMPLIANCE MONITORING

This project's exploratory analysis seeks to evaluate the knowledge and compliance of different recreational facilities on the sale, use, and control of Tobacco and Tobacco products across six states in the six geopolitical zones in Nigeria. The EDA is designed to reveal hidden trends and patterns, correlations, relationships, and associations between variables in the dataset so useful insights could be drawn.

### This jupyter notebook documents the EDA process and the step by step approach taken to arrive at the desired outcome

## Preparing the environment

In [1]:
# Prepare SQL environment
%load_ext sql

In [2]:
#MySQL connection string
%sql mysql+pymysql://root:91Flower91@localhost:3306/tobacco_compliance_monitoring

'Connected: root@tobacco_compliance_monitoring'

## Review Dataset

In [4]:
%%sql
Select 
    *
FROM
    Lagos
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/tobacco_compliance_monitoring
5 rows affected.

[('30/04/2024', '30/04/2024', 'Team-2 Abdulkareem khadijat', 8028760659, '96', '6.6085977 3.3481315 63.400001525878906 4.375', 6.6085977, 3.3481315, 63.40000153, 4.375, '30/04/2024', 'Ikeja', 'Aromire', 'Dover Hotel', 'Male', 43, 'Manager', 2, 'Indoor', 'Restaurant Lounges Bar palours Hotel', 1, 1, 1, 1, 0, 0, 0, 0, '', 'Yes', 'Yes', 'Yes', 'No', '', '', '', '', '', '', '', '', 'No', '', '', '', '', '', '', '', '', 'No', 'Yes', 'No smoking', 'Yes', 'No', 'No', 'Verbal Warning', 'Yes', 'No', 'Yes', 'Yes', '', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'No', '', 'Yes', 'No', 'No', '', '', '', '', '', '1714487977600.jpg', 'https://kc.kobotoolbox.org/media/original?media_file=mel_dataset%2Fattachments%2F7beef96f827943548de348fbc32db550%2F094ed28b-68b5-4ea4-aa72-13e29ed05f3c%2F1714487977600.jpg', '', 334673179, '858fe1fb-e62e-46b0-95cd-d6ab9364c150', '30/04/2024', 'submitted_via_web', 'mel_dataset', 'vAj2akc3unjHkzPVjCLfVV', '', 1),
 ('30/04/2024', '01/05/2024', 'Team 4- Damilola Sulaimon-Ajayi', 9159485750, 'LA 225', '6.5863891 3.3838053 35.0 4.852', 6.5863891, 3.3838053, 35.0, 4.852, '01/05/2024', 'Kosofe', 'Ogudu', 'Hm bar', 'Male', 27, 'Supervisor', 4, 'Both', 'Lounges', 0, 1, 0, 0, 0, 0, 0, 0, '', 'No', 'Yes', 'Yes', 'No', '', '', '', '', '', '', '', '', 'No', '', '', '', '', '', '', '', '', 'No', 'No', '', 'No', 'Yes', 'Not applicable', '', 'No', 'No', 'No', 'No', '', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', '', 'No', 'No', 'No', 'No', 'No', '', 'Yes', 'No', 'No', '', '', '', '', '', '1714556691382.jpg', 'https://kc.kobotoolbox.org/media/original?media_file=mel_dataset%2Fattachments%2F7beef96f827943548de348fbc32db550%2F75e7092b-950f-4770-b167-4e63b2e1064f%2F1714556691382.jpg', '', 334885212, '75e7092b-950f-4770-b167-4e63b2e1064f', '01/05/2024', 'submitted_via_web', 'mel_dataset', 'vAj2akc3unjHkzPVjCLfVV', '', 2),
 ('01/05/2024', '01/05/2024', 'Team 3-Dare Olasunbo', 8101313182, 'LA-133', '6.6042998 3.3474094 57.400001525878906 16.564', 6.6042998, 3.3474094, 57.40000153, 16.564, '01/05/2024', 'Ikeja', 'Ikeja', 'WATERCRESS HOTEL', 'Male', 35, 'Restaurant Supervisor', 5, 'Indoor', 'Restaurant Hotel Lounges Bar palours', 1, 1, 1, 1, 0, 0, 0, 0, '', 'Yes', 'Yes', 'Yes', 'No', '', '', '', '', '', '', '', '', 'No', '', '', '', '', '', '', '', '', 'No', 'No', '', 'No', 'No', 'No', 'Smoke detector', 'Yes', 'Yes', 'Yes', 'Yes', '', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', '', 'Yes', 'No', 'Yes', 'Less than a Standard Room ', '', 'Less than 5 meters', 'No AC', 'Yes', '1714556614617.jpg', 'https://kc.kobotoolbox.org/media/original?media_file=mel_dataset%2Fattachments%2F7beef96f827943548de348fbc32db550%2Fc4b87239-3d00-4ad9-aa37-3f844bf8b5e5%2F1714556614617.jpg', '', 334885961, 'c4b87239-3d00-4ad9-aa37-3f844bf8b5e5', '01/05/2024', 'submitted_via_web', 'mel_dataset', 'vAj2akc3unjHkzPVjCLfVV', '', 3),
 ('29/04/2024', '01/05/2024', 'Team 2 - Oreoluwa Orawusi', 8099851950, 'LA 065', '6.4976746 3.3639521 30.399999618530273 3.9', 6.4976746, 3.3639521, 30.39999962, 3.9, '01/05/2024', 'Surulere', 'Surulere', 'National Stadium', 'Male', 42, 'Sport administrator', 10, 'Both', 'Park/Recreational facilities Restaurant Lounges Bar palours', 1, 1, 1, 0, 0, 1, 0, 0, '', 'Yes', 'Yes', 'Yes', 'No', '', '', '', '', '', '', '', '', 'No', '', '', '', '', '', '', '', '', 'No', 'Yes', 'Smokers are liable to die young', 'Yes', 'No', 'No', 'They are arrested', 'Yes', 'No', 'Yes', 'Yes', '', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', '', 'No', 'No', 'No', 'No', 'No', '', 'No', '', 'No', '', '', '', '', '', '1714556212135.jpg', 'https://kc.kobotoolbox.org/media/original?media_file=mel_dataset%2Fattachments%2F7beef96f827943548de348fbc32db550%2F1c6e3207-aedc-48ba-9fa1-824e8db468de%2F1714556212135.jpg', '', 334886799, '1c6e3207-aedc-48ba-9fa1-824e8db468de', '01/05/2024', 'submitted_via_web', 'mel_dataset', 'vAj2akc3unjHkzPVjCLfVV', '', 4),
 ('01/05/2024', '01/05/2024', 'Team 3- Olasunbo Dare', 8101313182, 'LA-136', '6.6039877 3.3468066 64.69999694824219 4.725', 6.6039877, 3.3468066, 64.69999695, 4.725, '01/05/2024', 'Ikeja', 'Obafemi Awolowo way', 'TOPRANO lounge and bar', 'Male', 25, 'Security', 2, 'Both', 'Lounges Bar palours', 0, 1, 1, 0, 0, 0, 0, 0, '', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'No', '', 'No', '', '', '', '', '', '', '', '', 'No', 'Yes', 'None', 'No', 'Yes', 'Not applicable', '', 'No', 'No', 'No', 'No', '', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'No', '', 'No', 'No', 'No', 'No', 'No', '', 'No', '', 'No', '', '', '', '', '', '1714558048366.jpg', 'https://kc.kobotoolbox.org/media/original?media_file=mel_dataset%2Fattachments%2F7beef96f827943548de348fbc32db550%2F5c1d49f3-76a6-41cc-a952-2e77d778934e%2F1714558048366.jpg', '', 334891942, '5c1d49f3-76a6-41cc-a952-2e77d778934e', '01/05/2024', 'submitted_via_web', 'mel_dataset', 'vAj2akc3unjHkzPVjCLfVV', '', 5)]

## Descriptive Analysis

#### What is the average age of respondents in each of the six states?

In [5]:
%%sql
SELECT 'Lagos' AS state, ROUND(AVG(`3. Age (as at last birthday, in years)`), 1) AS mean_age FROM Lagos
UNION ALL
SELECT 'Enugu', ROUND(AVG(`3. Age (as at last birthday, in years)`), 1) FROM Enugu
UNION ALL
SELECT 'Fct', ROUND(AVG(`3. Age (as at last birthday, in years)`), 1) FROM Fct
UNION ALL
SELECT 'Adamawa', ROUND(AVG(`3. Age (as at last birthday, in years)`), 1) FROM Adamawa
UNION ALL
SELECT 'Kano', ROUND(AVG(`3. Age (as at last birthday, in years)`), 1) FROM Kano
UNION ALL
SELECT 'Rivers', ROUND(AVG(`3. Age (as at last birthday, in years)`), 1) FROM Rivers
ORDER BY State ASC;

 * mysql+pymysql://root:***@localhost:3306/tobacco_compliance_monitoring
6 rows affected.

[('Adamawa', Decimal('38.5')),
 ('Enugu', Decimal('36.4')),
 ('Fct', Decimal('37.1')),
 ('Kano', Decimal('41.9')),
 ('Lagos', Decimal('38.2')),
 ('Rivers', Decimal('37.0'))]

In [6]:
%%sql
SELECT 'Lagos' AS state, COUNT(DISTINCT `7. Type of facility`) AS distinct_facilities FROM Lagos
UNION ALL
SELECT 'Fct', COUNT(DISTINCT `7. Type of facility`) FROM Fct
UNION ALL
SELECT 'Adamawa', COUNT(DISTINCT `7. Type of facility`) FROM Adamawa
UNION ALL
SELECT 'Enugu', COUNT(DISTINCT `7. Type of facility`) FROM Enugu
UNION ALL
SELECT 'Rivers', COUNT(DISTINCT `7. Type of facility`) FROM Rivers
UNION ALL
SELECT 'Kano', COUNT(DISTINCT `7. Type of facility`) FROM Kano
ORDER BY State ASC;

 * mysql+pymysql://root:***@localhost:3306/tobacco_compliance_monitoring
6 rows affected.

[('Adamawa', 31),
 ('Enugu', 48),
 ('Fct', 70),
 ('Kano', 31),
 ('Lagos', 55),
 ('Rivers', 63)]

### Question 1: How many facilities were visited across the six geopolitical zones?

In [32]:
%%sql
SELECT table_name,
       table_rows AS estimated_rows
FROM information_schema.tables
WHERE table_schema = 'tobacco_compliance_monitoring'
  AND table_type = 'BASE TABLE'
UNION ALL
SELECT 'TOTAL',
       SUM(table_rows)
FROM information_schema.tables
WHERE table_schema = 'tobacco_compliance_monitoring'
  AND table_type = 'BASE TABLE';

 * mysql+pymysql://root:***@localhost:3306/tobacco_compliance_monitoring
7 rows affected.

[('adamawa', Decimal('142')),
 ('enugu', Decimal('237')),
 ('fct', Decimal('204')),
 ('kano', Decimal('116')),
 ('lagos', Decimal('238')),
 ('rivers', Decimal('249')),
 ('TOTAL', Decimal('1186'))]

### Question 2: How many facilities in all six states know about the tobacco control laws?

In [37]:
%%sql
SELECT 'Lagos' AS State, COUNT(*) AS Number_Aware
FROM Lagos
WHERE `Awareness of tobacco control law` = 'YES'

UNION ALL
SELECT 'Enugu' AS State, COUNT(*) AS Number_Aware
FROM Enugu
WHERE `Awareness of tobacco control law` = 'YES'

UNION ALL
SELECT 'Fct' AS State, COUNT(*) AS Number_Aware
FROM Fct
WHERE `Awareness of tobacco control law` = 'YES'

UNION ALL
SELECT 'Adamawa' AS State, COUNT(*) AS Number_Aware
FROM Adamawa
WHERE `Awareness of tobacco control law` = 'YES'

UNION ALL
SELECT 'Kano' AS State, COUNT(*) AS Number_Aware
FROM Kano
WHERE `Awareness of tobacco control law` = 'YES'

UNION ALL
SELECT 'Rivers' AS State, COUNT(*) AS Number_Aware
FROM Rivers
WHERE `Awareness of tobacco control law` = 'YES'

UNION ALL
-- total row
SELECT 'TOTAL' AS State, SUM(Number_Aware) AS Number_Aware
FROM (
    SELECT COUNT(*) AS Number_Aware FROM Lagos WHERE `Awareness of tobacco control law` = 'YES'
    UNION ALL
    SELECT COUNT(*) FROM Enugu WHERE `Awareness of tobacco control law` = 'YES'
    UNION ALL
    SELECT COUNT(*) FROM Fct WHERE `Awareness of tobacco control law` = 'YES'
    UNION ALL
    SELECT COUNT(*) FROM Adamawa WHERE `Awareness of tobacco control law` = 'YES'
    UNION ALL
    SELECT COUNT(*) FROM Kano WHERE `Awareness of tobacco control law` = 'YES'
    UNION ALL
    SELECT COUNT(*) FROM Rivers WHERE `Awareness of tobacco control law` = 'YES'
) AS totals
ORDER BY State ASC;

 * mysql+pymysql://root:***@localhost:3306/tobacco_compliance_monitoring
7 rows affected.

[('Adamawa', Decimal('63')),
 ('Enugu', Decimal('41')),
 ('Fct', Decimal('83')),
 ('Kano', Decimal('54')),
 ('Lagos', Decimal('161')),
 ('Rivers', Decimal('128')),
 ('TOTAL', Decimal('530'))]

### Question 3: What is the percentage knowledge of Tobacco control laws?

In [40]:
%%sql
SELECT 
    'Lagos' AS State,
    COUNT(*) AS Total_Facilities,
    SUM(CASE WHEN `Awareness of tobacco control law` = 'YES' THEN 1 ELSE 0 END) AS Number_Aware,
    ROUND((SUM(CASE WHEN `Awareness of tobacco control law` = 'YES' THEN 1 ELSE 0 END) / COUNT(*)) * 100, 0) AS Knowledge_Percent
FROM Lagos

UNION ALL
SELECT 
    'Enugu',
    COUNT(*),
    SUM(CASE WHEN `Awareness of tobacco control law` = 'YES' THEN 1 ELSE 0 END),
    ROUND((SUM(CASE WHEN `Awareness of tobacco control law` = 'YES' THEN 1 ELSE 0 END) / COUNT(*)) * 100, 0)
FROM Enugu

UNION ALL
SELECT 
    'Fct',
    COUNT(*),
    SUM(CASE WHEN `Awareness of tobacco control law` = 'YES' THEN 1 ELSE 0 END),
    ROUND((SUM(CASE WHEN `Awareness of tobacco control law` = 'YES' THEN 1 ELSE 0 END) / COUNT(*)) * 100, 0)
FROM Fct

UNION ALL
SELECT 
    'Adamawa',
    COUNT(*),
    SUM(CASE WHEN `Awareness of tobacco control law` = 'YES' THEN 1 ELSE 0 END),
    ROUND((SUM(CASE WHEN `Awareness of tobacco control law` = 'YES' THEN 1 ELSE 0 END) / COUNT(*)) * 100, 0)
FROM Adamawa

UNION ALL
SELECT 
    'Kano',
    COUNT(*),
    SUM(CASE WHEN `Awareness of tobacco control law` = 'YES' THEN 1 ELSE 0 END),
    ROUND((SUM(CASE WHEN `Awareness of tobacco control law` = 'YES' THEN 1 ELSE 0 END) / COUNT(*)) * 100, 0)
FROM Kano

UNION ALL
SELECT 
    'Rivers',
    COUNT(*),
    SUM(CASE WHEN `Awareness of tobacco control law` = 'YES' THEN 1 ELSE 0 END),
    ROUND((SUM(CASE WHEN `Awareness of tobacco control law` = 'YES' THEN 1 ELSE 0 END) / COUNT(*)) * 100, 0)
FROM Rivers

--  TOTAL row across all states
UNION ALL
SELECT 
    'TOTAL',
    COUNT(*) AS Total_Facilities,
    SUM(CASE WHEN `Awareness of tobacco control law` = 'YES' THEN 1 ELSE 0 END) AS Number_Aware,
    ROUND((SUM(CASE WHEN `Awareness of tobacco control law` = 'YES' THEN 1 ELSE 0 END) / COUNT(*)) * 100, 0) AS Knowledge_Percent
FROM (
    SELECT * FROM Lagos
    UNION ALL SELECT * FROM Enugu
    UNION ALL SELECT * FROM Fct
    UNION ALL SELECT * FROM Adamawa
    UNION ALL SELECT * FROM Kano
    UNION ALL SELECT * FROM Rivers
) AS all_states
ORDER BY State ASC;

 * mysql+pymysql://root:***@localhost:3306/tobacco_compliance_monitoring
7 rows affected.

[('Adamawa', 142, Decimal('63'), Decimal('44')),
 ('Enugu', 237, Decimal('41'), Decimal('17')),
 ('Fct', 204, Decimal('83'), Decimal('41')),
 ('Kano', 116, Decimal('54'), Decimal('47')),
 ('Lagos', 238, Decimal('161'), Decimal('68')),
 ('Rivers', 249, Decimal('128'), Decimal('51')),
 ('TOTAL', 1186, Decimal('530'), Decimal('45'))]